<section style="margin: 32px 0; text-align: center;">
  <section style="display: inline-block; vertical-align: middle; width: 12px; height: 12px; background: #fd953f; transform: rotate(45deg); margin: 0 4px;"></section>
  <section style="display: inline-block; vertical-align: middle; width: 60px; height: 1px; background: #fd953f; margin: 0 6px;"></section>
  <section style="display: inline-block; vertical-align: middle; width: 12px; height: 12px; background: #2ab692; transform: rotate(45deg); margin: 0 4px;"></section>
  <section style="display: inline-block; vertical-align: middle; width: 60px; height: 1px; background: #fd953f; margin: 0 6px;"></section>
  <section style="display: inline-block; vertical-align: middle; width: 12px; height: 12px; background: #fd953f; transform: rotate(45deg); margin: 0 4px;"></section>
</section>
